/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: 'Roboto', sans-serif;
}

.button-icon {
  width: 24px;
  height: 24px;
  min-width: 24px;
  min-height: 24px;
  background: #2F80ED;
  box-shadow: 2px 0px 4px 0px #2F80ED;
  border-radius: 5px;
  cursor: pointer;
}

.button {
  display: block;
  cursor: pointer;
  background: #2F80ED;
  box-shadow: 2px 0px 4px 0px #2F80ED;
  border-radius: 5px;
  min-width: 120px;
  padding: 6.4px 25px 6.4px 31px;
}